  <!-- Acerca de -->

  <section class="about text-white section-bg" id="about">
    <div class="container">
      <div class="section-title">
          <h2>Acerca De</h2>
      </div>
      <div class="row">
        <div class="col member text-center">
          <ul>
            <li style="list-style:none" *ngFor="let acercade of acercadeList; let i = index">
              <div class="pic d-block">
                <img class="mx-auto" [src]="acercade.img" alt="">
                <a *ngIf="isUserLogged" href="" data-bs-toggle="modal" data-bs-target="#modalFotoPerfil" (click)="onEditAcercade(i)"><i class="bi bi-pencil-square "></i></a>   <!-- Boton para foto de perfil -->
              </div>
              <div class="ps-4 text-center pic">
                <p>{{acercade.acercade}}</p>
              </div>
              <div class="social d-flex mt-4" style="justify-content: center;">
                <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="https://github.com/MatyHalloween" class="ms-2"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/binaghi-mj/" class="ms-2"><i class="bi bi-linkedin"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal para foto de perfil -->

  <div class="modal fade" id="modalFotoPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Actualizar Acerca De</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="acercaDeModal" (ngSubmit)="onSubmit()">
                <input type="hidden" name="id" formControlName="id">
                <p class="body-desc">
                  Inserta la URL de la imagen que quieres colocar.</p>
                <input class="form-control mb-2" name="img" type="text" id="img" formControlName="img">
                <div class="modal-footer">
                    <p class="footer-title">
                      Elige tu mejor foto de perfil.</p>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Ingresa tu descripción:</label>
                  <textarea class="form-control" type="text" name="acercade" formControlName="acercade"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

  <!-- Modal para editar info

  <div class="modal fade" id="modalAcercaDe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Acerca de</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Ingresar texto:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Actualizar</button>
        </div>
      </div>
    </div>
  </div> -->
