<!-- Proyectos -->
<section id="proyectos" class="portfolio">
  <div class="container">
    <div class="section-title mb-5">
      <h2>Proyectos</h2>
    </div>


  <ul class="row d-flex" style="list-style: none;">
    <li class="col-lg-4 col-md-6" *ngFor="let proyecto of proyectoList">
        <div class="portfolio-item me-lg-5 {{proyecto.tipo}} mb-5 ">
          <div class="portfolio-img ">
            <a href="#"><img [src]="proyecto.img" class="img-fluid" /></a>
          </div>
        </div>
    </li>
  </ul>
  </div>

</section>
