    <!-- Header - Banner -->

    <header class="banner" id="inicio">
        <div class="container">
            <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <ul>
                    <li style="list-style:none" *ngFor="let banner of bannerList; let i = index">
                <img class="img-fluid rounded mx-auto d-block" [src]="banner.img"><div *ngIf="isUserLogged" class="position-relative"><a class="position-absolute bottom-0 end-0" href="" data-bs-toggle="modal" data-bs-target="#bannerModal" (click)="onEditBanner(i)"><i class="bi bi-pencil-square "></i></a></div> <!-- Boton para editar foto -->
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </header>


    <!-- Modal para editar foto -->
    <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bannerModalLabel">
                        Subir nuevo Banner</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="modalBanner" (ngSubmit)="onSubmit()">
                        <input type="hidden" name="id" formControlName="id">
                        <p class="body-desc">
                            Inserta la URL de la imagen que quieres colocar. </p>
                            <input class="form-control mb-2" name="img" type="text" id="img" formControlName="img">
                        <div class="modal-footer">
                            <p class="footer-title">
                            Elige la mejor imagen que te represente.</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
