    <!-- Experiencia  -->

    <section class="exp section" id="exp">
        <div class="container">
          <div class="section-title">
              <h2>Experiencia</h2>
              <div *ngIf="isUserLogged" class="justify-content-fin"><a href="" style="color: black;" data-bs-toggle="modal" data-bs-target="#modalNuevaExp"><i class="bi bi-plus-square"></i></a></div>
          </div>
        </div>
        <div class="exp2">
          <ul class="items-list" id="traList">
            <li style="list-style:none" *ngFor="let trabajo of trabajoList; let i = index">
              <div class="row align-items-center me-2">
                <div class="col-md-auto"> <!-- Logos -->
                  <div class="ps-4 logo">
                    <img [src]="trabajo.img" alt="">
                  </div>
                </div>
                <div class="col-md-auto">  <!-- Iconos -->
                  <div class="icon d-flex align-items-center align-baseline">
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
                </div>
                <div class="col-md-4 col-md-8 col-sm-12">  <!-- Parrafos -->
                  <div class="ps-lg-4 m-5 parrafos">
                    <h5>{{trabajo.puesto}}</h5>
                    <h6>{{trabajo.inicio}} - {{trabajo.fin}}</h6>
                    <ul>
                      <li style="list-style: disc;" *ngFor="let actividad of trabajo.info">{{actividad}}</li>
                    </ul>

                  </div>
                </div>
                <div *ngIf="isUserLogged" class="data-control">
                  <div class="col-md-auto btn-edit">
                    <a href="" style="color: black;" data-bs-toggle="modal" data-bs-target="#modalNuevaEdu" (click)="onEditTrabajo(i)">
                      <i class="bi bi-pencil-square me-3"></i></a> <!--Boton Editar-->
                  </div>
                  <div class="col-md-auto btn-edit">
                    <a href="" style="color: black;" (click)="onDeleteTrabajo(i)"><i class="bi bi-trash"></i></a> <!--Boton Borrar-->
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>


      <!-- Modal Nueva Experiencia-->

      <div class="modal fade" id="modalNuevaExp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Nueva Experiencia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
              <p>Logo de la empresa:</p>
              <div class="photo-input mb-3"> <input type="file" id="loadFile" onchange="console.log(this.files[0].name);" /> </div>
              <p>Cargo o Puesto</p>
              <input class="form-control mb-3" type="text" id="message-text">
              <div>
                <p>Año de inicio</p>
                <input class="form-control mb-3" type="text" id="message-text">
                <p>Año de Fin. Si no tiene un año escribir Presente.</p>
                <input class="form-control mb-2" type="text" id="message-text">
              </div>
              <div>
                <p>Insertar 3 funciones del cargo o puesto.</p>
                <input class="form-control mb-2" type="text" id="message-text">

                <input class="form-control mb-2" type="text" id="message-text">

                <input class="form-control" type="text" id="message-text">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Actualizar</button>
              </div>
            </form>
            </div>
          </div>
      </div>
    </div>