    <!-- Experiencia  -->

    <section class="exp section" id="exp">
        <div class="container">
          <div class="section-title">
              <h2>Experiencia</h2>
              <div class="justify-content-end"><a href="" style="color: black;"><i class="bi bi-plus-square"></i></a></div>
          </div>
        </div>
        <div class="exp2">
          <ul class="items-list" id="traList">
            <li style="list-style:none" *ngFor="let trabajo of trabajoList">
              <div class="row align-items-center me-2">
                <div class="col-md-auto"> <!-- Logos -->
                  <div class="ps-4 logo">
                    <img [src]="trabajo.img" alt="">
                  </div>
                </div>
                <div class="col-md-auto">  <!-- Iconos -->
                  <div class="icon d-flex align-items-center align-baseline">
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
                </div>
                <div class="col-md-4 col-md-8 col-sm-12">  <!-- Parrafos -->
                  <div class="ps-lg-4 m-5 parrafos">
                    <h5>{{trabajo.puesto}}</h5>
                    <h6>{{trabajo.start}} - {{trabajo.end}}</h6>
                    <ul>
                      <li style="list-style: disc;" *ngFor="let actividad of trabajo.info">{{actividad}}</li>
                    </ul>

                  </div>
                </div>
                <div class="col-md-auto">
                  <a href="" style="color: black;">
                    <i class="bi bi-pencil-square me-3"></i>
                    <i class="bi bi-trash"></i>
                </a>
              </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
