    <!-- Skills -->

    <section class="skill text-white section-bg" id="skill">
        <div class="container">
          <div class="section-title">
              <h2 class="mb-2">Skills</h2>
              <div *ngIf="isUserLogged" class="justify-content-end"><a href="" data-bs-toggle="modal" data-bs-target="#modalNuevaSkill" (click)="onNewSkill()"><i class="bi bi-plus-square"></i></a></div>
          </div>
          <div class="row" style="justify-content: center;">
            <ul class="items-list" id="traList">
              <li class="col-lg-4 col-md-6 circulos" style="list-style:none" *ngFor="let skill of skillList; let i = index">
                <div class="row flex-column justify-content-center">
                  <circle-progress
                  [id]="skill.name"
                  [percent]="skill.dato"
                  [radius]="50"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="8"
                  [space]="-8"
                  [outerStrokeColor]="'#13CE6A'"
                  [innerStrokeColor]="'#fff'"
                  [animation]="false"
                  [animationDuration]="300"
                  [titleColor]="'#fff'"
                  [titleFontSize]="'20'"
                  [unitsFontSize]="'10'"
                  [unitsColor]="'#fff'"
                  [showSubtitle]="false"
                  [subtitleColor]="'#fff'"
                  [responsive]="true"
                ></circle-progress><!-- HTML5 -->
                  <div class="text-center" style="font-size: 50px;" *ngIf="skill.clase; else blanda"><i [attr.class]="skill.clase"></i>
                  </div>
                  <ng-template #blanda><h3 class="text-center ">{{skill.soft}}</h3>
                  </ng-template>
                  <div *ngIf="isUserLogged" class="text-center">
                  <a href="" data-bs-toggle="modal" data-bs-target="#modalNuevaSkill"  (click)="onEditSkill(i)" ><i class="bi bi-pencil-square ms-2"></i></a>
                  <a href="" (click)="onDeleteSkill(i)"><i class="bi bi-trash"></i></a>
                  </div>
              </div>
              </li>
            </ul>
          </div>
        </div>
    </section>


    <!-- Modal para Skills-->

    <div class="modal fade" id="modalNuevaSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Nueva Skill</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="modalNuevaSkill" (ngSubmit)="onSubmit()">
            <input type="hidden" name="id" formControlName="id">
            <p>Hard Skill</p>
            <input class="form-control mb-2" type="text" name="clase" formControlName="clase">
            <p>Soft Skill</p>
            <input class="form-control mb-2" type="text" name="soft" formControlName="soft">
            <p>Porcentaje</p>
            <input class="form-control mb-2" type="text" name="dato" formControlName="dato">
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
            </form>
          </div>
    </div>
  </div>
</div>