    <!-- Skills -->

    <section class="skill text-white section-bg" id="skill">
        <div class="container">
          <div class="section-title">
              <h2>Skills</h2>
          </div>
          <div class="row">
            <ul class="items-list" id="traList">
              <li style="list-style:none" *ngFor="let skill of skillList">
                <div class="col-lg-4 col-md-6 circulos">
                <div class="row flex-column m-0 p-0 justify-content-center">
                <div class="chart" [attr.id]="skill.id" [attr.data-percent]="skill.data"></div> <!-- HTML5 -->
                <div class="text-center" style="font-size: 50px;" *ngIf="skill.clase; else blanda"><i [attr.class]="skill.clase"></i>
                <ng-template #blanda><h3>{{skill.soft}}</h3></ng-template>
                </div>
                </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </section>